.head1{
  text-align: center;
}
.head2{
  font-size: small;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.green{
  color: green;
}
.big{
  font-size: larger;
}
.small{
  font-size: x-small;
}
.center{
text-align: center;
}
.bold{
  font-weight: bold;
}
.font{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.change{
  font-weight: bold;
  color: orange;
}
.styledFont{
  color: green;
}
#styledImage{
  border: 10px solid orange;
}


